:root {
    --primary-color: rgb(255, 108, 65);
    --text-color: rgb(47, 34, 27);
    --secondary-text: rgb(91, 81, 75);
    --background-color: rgb(252, 243, 238);
    --card-background: rgb(243, 234, 237);
    --purple-accent: rgb(158, 134, 255);
    --white: rgb(255, 255, 255);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', system-ui, -apple-system, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* Common section styles */
section {
    width: 100%;
}
/* Button styles */
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 32px;
    background: var(--primary-color);
    border: none;
    border-radius: 1000px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 32px;
    background-color: #11D796;
    border: none;
    border-radius: 1000px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
    background-color: #01C786;
    transform: scale(1.05);
}


/* Button animation  */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    pointer-events: auto;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    padding: 18px 32px;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--mimas {    
    display: fle
	font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    cursor: pointer;
	border-radius: 1000rem;
	overflow: hidden;
	color: #fff;
	background: #F45D22;
}

.button--mimas span {
	position: relative;
	mix-blend-mode: normal;
}

.button--mimas::before {
	content: '';
	background: var(--primary-color);
    font-family: 'Bricolage Grotesque', system-ui, -apple-system, sans-serif;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
	transform: translate3d(100%,0,0);
}

/* Pricing Section */
.pricing {
    padding: 96px 0;
    width: 100%;
}

.pricing-container {
    max-width: 1100px;
    margin: 0 auto;
}

.pricing-header {
    text-align: center;
    margin-bottom: 32px;
}

.pricing-header h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 44px;
    color: #2F2222;
    margin-bottom: 16px;
}

.pricing-header p {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0;
    color: #2F2219;
    padding-bottom: 20px;
}

.pricing-options {
    display: flex;
    flex-direction: column;;
    flex-basis: auto;
    gap: 24px;
}

.pricing-card {
    background-color: #FCEBE1;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 12px 48px 12px 48px;
    align-items: center;
    gap: 8px;
}

.guide-card {
    background-color: #E4F0E5;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 12px 48px 12px 48px;
    align-items: center;
    gap: 8px;
}

.card-info {
    display: flex;
    gap: 12px;
    align-items: center;
}

.card-text {
    flex: 1; /* Ensure text doesn't push other elements */
    max-width: 500px;
}

.card-text h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    color: #2F2222;
    margin-bottom: 4px;
}

.card-text h3 span {
    font-weight: 700;
    line-height: 28px; /* 140% */
}

.card-text p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #5B514B;
}

.price {
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    color: #2F221B;
    padding: 0 20px 0 20px;
    width: 120px;
}

.btn-primary {
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    width: 220px;
}

.btn-secondary {
    font-family: "Bricolage Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    width: 220px;
}

.btn-primary:hover {
    background-color: #F45D22;
}
@media (max-width: 1200px) {
    .pricing-container {
        padding: 0 0;
    }
}

@media (max-width: 768px) {
    .pricing {
        height: auto;
        padding: 48px 0;
    }

    .pricing-container {
        padding: 0 24px;
    }

    .pricing-card {
        flex-direction: column;
        padding: 24px;
        gap: 16px;
    }

    .guide-card {
        flex-direction: column;
        padding: 24px;
        gap: 16px;
    }
    .card-text h3 {
        text-align: center;
    }
    .card-text p {
        text-align: center;
    }
    .card-info {
        width: 100%;
        flex-direction: column;
    }

    .price {
        width: auto;
    }

    .btn-primary {
        width: 100%;
        justify-content: center;
    }
    .btn-secondary {
        width: 100%;
        justify-content: center;
    }
} 

@media (max-width: 430px) {
    .pricing {
        height: auto;
        padding: 48px 0;
    }

    .pricing-container {
        padding: 20 0;
    }

    .pricing-header h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .pricing-header p {
        font-size: 18px;
        line-height: 26px;
    }

    .pricing-card {
        flex-direction: column;
        padding: 24px;
        gap: 16px;
    }

    .guide-card {
        flex-direction: column;
        padding: 24px;
        gap: 16px;
    }

    .card-info {
        width: 100%;
        flex-direction: column;
    }

    .price {
        width: auto;
    }

    .btn-primary {
        width: 100%;
        justify-content: center;
    }
    .btn-secondary {
        width: 100%;
        justify-content: center;
    }
} 
